@use "mixin.scss" as mi;
@use "variables.scss" as var;

html {
    font-family: 'Chivo', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
}
.body {
    height: 100%;
    background: linear-gradient(180deg, rgba(18, 23, 38,0.8) 0%, rgba(18, 23, 38,0.8) 100%) center / cover no-repeat, url("../img/mobile/image-host-mobile.jpg") center / cover no-repeat;
    @include mi.flex-col-center(3em);
    padding: 5em 1.4em;
    &-header {
        @include mi.flex-center;
        width: 100%;
        & img {
            height: 4em;
        }
    }
    &-main {
        @include mi.flex-col-center(2.5em);
        &-text {
            text-align: center;
            @include mi.flex-col(1.5em);
            &-title {
                @include mi.text-style(var.$white, var.$step-0, 400, 1.1);
                & span {
                    color: var.$green;
                }
            }
            &-desc {
                @include mi.text-style(var.$gray, var.$step--4);
            }
        }
        &-brand {
            @include mi.flex-btw;
            width: 100%;
            & img {
                width: 20%;
            }
        }
        &-input {
            @include mi.flex-col-center(2em);
            width: 100%;
            &-mail {
                width: 100%;
                @include mi.button-style(var.$gray, var.$light-black, "input");
            }
            &-submit {
                width: 100%;
                @include mi.button-style(var.$black, var.$green);
            }
        }

    }
    &-footer {
        display: none;
    }

}
@include mi.max-width(460px) {
    .body {
        &-main {
            &-brand {
                & img {
                    width: 24%;
                }
            }
        }
    }
} 
@include mi.min-width(1000px) {
    .body {
        background: url("../img/tablet/image-host-tablet.jpg") right top / 50% 53em no-repeat, var.$black;
        // justify-content: flex-start;
        // gap: 15em;
        justify-content: space-between;
        padding-bottom: 0em;
        &-header {
            justify-content: flex-start;
            & img {
                height: 5em;
            }
        }
        &-main {
            align-self: flex-start;
            align-items: flex-start;
            
            width: 79%;
            padding: 7em 2.5em;
            background-color: var.$black;
            gap: 2.5em;
            &-text {
                text-align: left;
                gap: 2.5em;
                &-desc {
                    width: 75%;
                }
            }
            &-brand {
                width: 90%;
            }
            &-input {
                width: 75%;
                align-items: flex-start;
                position: relative;
                &-mail {
                    padding: 1.7em 2em;
                    font-size: var.$step--5;
                }
                &-submit {
                    width: 35%;
                    padding: 1.3em 0.4em;
                    position: absolute;
                    right: 1.5%;
                    font-size: var.$step--5;
                }
            }
        }
        &-footer {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            & img {
                width: 35%;
            }
        }
    }
}
@include mi.min-width(1200px) {
    .body {
        background-size: 46% 48em;
        &-main {
            width: 65%;
        }
    }
}
@include mi.min-width(1440px) {
    .body {
        background: url("../img/desktop/image-host.jpg") right center / 66% 60em no-repeat, var.$black;
        padding: 5em 10em;
        &-main {
            width: 75%;
        }
        &-footer {         
            justify-content: flex-end;
            & img {
                transform: translateX(10em);
                width: 25%;
            }
        }
    }
}